body {
    background-color: #faf8ef;
    display: flex;
    justify-content: center;
    font-family: Arial, sans-serif;
}
  
h1 {
    font-size: 80px;
    line-height: 0.7;
    color: #776E65;
    margin: 0px;
}
  
.container {
    width: 468px;
    margin-top: 30px;
}
  
.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
  
.grid{
    display: flex;
    flex-wrap: wrap;
    width: 456px;
    height: 456px;
    background-color: #BBADA0;
    border: 7px solid #BBADA0;
    border-radius: 6px;
    margin-top: 20px;
}
  
.grid div {
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 3px;
    background-color: #EEE4DA;
    color: #afa192;
    font-weight: bold;
    text-align: center;
    font-size: 60px;
    line-height: 1.6;
}
  
.score-container {
    text-align: center;
    width: 70px;
    height: 60px;
    border-radius: 3px;
    background-color: #8f7a66;
    color: #FFFFFF;
}
  
.score-container-1 {
    color: #8f7a66 ;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
#score {
   font-size: 30px;
}
  
.score-title {
    font-size: 16px;
  }

.button{
    width: 100px;
    margin: 5px;
    margin-right: 5px;
    color: #8f7a66 ;
    border: none;
}
@media (max-width:600px){
    h1{
        font-size: 50px;
    }

    .grid{
        width: 356px;
        height: 356px;
    }
    .grid div{
        width: 75px;
        height: 75px;
        font-size: 45px;
    }
    .button{
        width: 75px;
    }
}

/* @media(max-width:450px){
    h1{
        font-size: 30px;
    }

    .grid{
        width: 256px;
        height: 256px;
    }
    .grid div{
        width: 50px;
        height: 50px;
        font-size: 30px;
    }
    .button{
        width: 50px;
    }
} */

@media(max-width:400px){
    h1{
        font-size: 20px;
    }

    .grid{
        width: 156px;
        height: 156px;
    }
    .grid div{
        width: 37.50px;
        height: 37.50px;
        font-size: 15px;
    }
    .button{
        width: 50px;
    }
}
